<dom-module id="input-area">
    <template>
      <div class="horizontal end-justified layout" style="margin:10px;">
        <paper-input label="New Item" class="flex" id="newLineItem"></paper-input>
        <paper-fab icon="add" on-tap="addItem"></paper-fab>
      </div>
</template>
    
  <script>
    Polymer({
      is: 'input-area',
      ready: function() {
      },
      addItem : function(startingText)
      {
        var list = document.getElementById('item-list');
        var input = document.getElementById('newLineItem');

        if(input.value)
        {
          list.addItem(input.value);
          input.value=""  
        }
        input.$.input.focus();
      }
    });
  </script>

</dom-module>