<dom-module id="item-list">
    <template>
      <template is="dom-repeat" items="{{data}}">
        <paper-item class="flex" id="{{getElementId(item,1)}}" ><span class="flex">{{item.name}}</span><paper-icon-button suffix icon="clear" on-tap="deleteItem"></paper-icon-button>
        </paper-item>
      </template>
    </template>
    
  <script>
    Polymer({
      is: 'item-list',
      properties: {
        data : {
          type : 'Array',
          notify : true
        },
        internalId : {
          type : 'Number',
          value : 1,
          reflectToAttribute: true,
          notify: true
        }
      },
      ready: function() {
        this.data = [];
        this.internalId = 1;

       
        this.push('data', { name: 'List Item ' + (this.internalId++), id: this.internalId });
        this.push('data', { name: 'List Item ' + (this.internalId++), id: this.internalId });


        console.log('READY')
      },
      addItem : function(startingText)
      {
        this.internalId++;
        this.push('data', { name: startingText, id: this.internalId });
      },
      deleteItem : function(e)
      {
        var index = this.data.indexOf(e.model.item);
        this.splice('data', index,1);
      },
      getElementId : function(item,type)
      {
        var result = item.id;

        switch(type)
        {
            case 1:
              result = "list-item-" + result;
              break;
            case 2:
              result = "text-item-"+result;
              break;
            default:
              break;
        }
        return result;
      }
    });
  </script>

</dom-module>