<dom-module id="my-login">

  <style>
    /* CSS rules for your element */
  </style>
  
  <template>
    <paper-card heading="User Login"  style="width:400px">
      <div class="card-content">
        <paper-input label="User"></paper-input>
        <paper-input label="Password" type="password"></paper-input>
      </div>
      <div class="card-actions">
        <paper-button on-click="internalLogin">Login</paper-button>
        <paper-button>Help</paper-button>
      </div>
    </paper-card>
  </template>

  <script>
    // element registration
    Polymer({
      is: "my-login",
      properties: {
        onLogin: String
      },
      internalLogin : function(e)
      {
        if(this.onLogin)
        {
          eval(this.onLogin);
        }
      }
    });
  </script>